@import './assets/css/fonts.css';

.trial-gradient {
    background: radial-gradient(ellipse at top, #ffffff, transparent),  
    radial-gradient(ellipse at bottom, #55ffda81, transparent);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.app-dot {
    background-position: 0% 70%;
}
.app-dot-big {
    background-position: 0% 50%;
}
.skew-test {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 170px 100%);
}