@import './assets/css/fonts.css';

.trial-gradient {
    background: radial-gradient(ellipse at top, #ffffff, transparent),  
    radial-gradient(ellipse at bottom, #55ffda81, transparent);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.app-dot-big {
    background-position: 0% 50%;
}
.skew-test {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 170px 100%);
}

.card {
    width: 300px;
    height: 200px;
    margin: 10px 10px 0 10px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border: 10px solid black;
  }
  
  .card .cover-image {
    position: relative;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    transition: filter 0.25s linear;
  }
  
  .card:hover .cover-image{
    filter: blur(0);
  }
  
  .card:hover .icon{
    filter: blur(0);
  }

  .cardLower {
    width: 300px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: black;
    overflow: hidden;
    border: 10px solid black;
  }

  .mydot{
    background: #56BD9E;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    margin-left: 4px;
    margin-right: 4px;
    width: 15px;
}  

.auto-space {
  flex-grow: 1;
  flex-basis: 6em;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.formInput {
  padding: 25px 10px;
  background-color: #040d14;
  box-shadow: 0 0 0 2px #56BD9E;
  border: none;
  color: #56BD9E;
}

.submit-btn {
  background-color: #040d14;
  color: #56BD9E!important;
  padding: 15px 50px;
  border: 2px solid #56BD9E;
  border-radius: 10px;
  margin-bottom: 25px;
}

textarea.form-control {
  height: auto;
}